/*
// libextcpp0x.css - ExtCpp0x's module
// author: programer1234
*/

.libextcpp0x_nrol
{
   margin: 0px !important;
   padding-left: 55px !important;
   color: #AFAFAF;
}

.libextcpp0x_nrol li div
{
   border-left: 5px solid green !important;
   color: #000000;
   min-height: 15px;
   padding: 0px  0px 0px 10px !important;
}

del
{
   background-color: #FF3737 !important;
   text-decoration: none !important;
}

ins
{
   background-color: #5DE65D !important;
   text-decoration: none !important;
}